
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body{
    font-family: "Poppins", serif;
}

p{
    font-weight: 400;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 600;
}

#header .navbar-brand img{
    width: 200px;
}

#main_menu{
    font-weight: 600;
}

#main_menu ul li{
    margin-left: 20px;
}